<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <!-- syntax highlighting CSS 
        <link rel="stylesheet" href="/css/syntax.css">
    -->

        <!-- Custom CSS 
        
        <link rel="stylesheet" href="/css/main.css">
-->

    </head>
    <body>
    
    <header>
      <div class="container">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <h2>The GitHub Page</h2>

        <section id="downloads">
          <a href="https://github.com/raspikuku" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

          
    <div class="container">
      <section id="main_content">

          {{ content }}
          
      </section>
    </div>

    </body>
</html>
